/*====Font & Text=====*/



/*====Page wide=====*/
body {
  background: white;
  font-size: 0.625em;
  margin: 0px;
  padding: 0px;
}
a:link, a:visited, a:hover, a:active {
  color: inherit;
  text-decoration: none;
}
section {
  box-sizing: content-box;
  width: 92%;
  max-width: 1366px;
  margin: 0px auto;
  overflow: hidden;
}
section>*{
  max-width: 100%;
}

/*=====INTER-SECTIONS PADDING AND MARGIN=====*/
.wrapper1>section {
}
.wrapper2>section {
  width: 100%;
  padding-top: 40px;
  padding-bottom: 40px;
}
.wrapper3>section {
  padding-top: 40px;
  padding-bottom: 40px;
}
.wrapper4>section {
  width: 100%;
  padding-top: 40px;
  padding-bottom: 40px;
}
.wrapper5>section {
  padding-top: 20px;
  padding-bottom: 20px;
}
.wrapper6>section {
  padding-top: 20px;
  padding-bottom: 20px;
}
.wrapper7>section {
  padding-top: 20px;
  padding-bottom: 0px;
}
/*=====Standard elements====*/
.logo {
  width: 40px;
  height: 40px;
  /*padding: 10px;*/
  background: rgb(12, 59, 93);
  background-clip: content-box;
}
.stdButton {
  font-size: 2.0em;
  border-radius: 2px;
  display: block;
  flex: 0 0 auto;
  margin: 15px;
  height: 50px;
  color: white;
  background: rgb(62, 194, 157);
  position: relative;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.stdButton a {
  flex: 1 0 auto;
  padding: 15px 30px;
  width: 100%;
  display: block;
}
/*=====================*/
.wrapper1 {
  width: 100%;
  background: rgb(52, 102, 168);
}
.wrapper1>section {
  position: relative;
  height: 100vh;
  max-height: 662px;
  overflow: visible;
}
.wrapper1>section>.wrapper-100vh {
  position: absolute;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
}
.wrapper1>section>.wrapper-100vh>.panelWrapper {
  flex: 1 0 auto;
  position: relative;
  width: 98vw;
  overflow: hidden;
}
.wrapper1>section>.wrapper-100vh>.panelWrapper.show {
  width: 100vw;
}
.wrapper1>section>.wrapper-100vh .panel {
  box-sizing: border-box;
  padding: 30px;
  z-index: 4;
  font-size: 1em;
  line-height: 2.2em;
  position: absolute;
  right: 0px;
  top: 0px;
  transform: translate(100%,0px);
  width: 600px;
  /*width: 60%;*/
  height: 100%;
  overflow-y: scroll;
  background: rgb(245, 248, 249);
  transition: transform 0.2s;
}
.wrapper1>section>.wrapper-100vh .panel.mobileMenu{
  font-size: 2em;
}
.wrapper1>section>.wrapper-100vh .panel.mobileMenu>ul{
  padding: 0px;
  padding-bottom: 15px;
  margin: 30px;
  list-style: none;
  border-bottom: 1px solid rgba(236, 236, 236, 0.84);
}
.wrapper1>section>.wrapper-100vh .panel.mobileMenu .header {
  margin: 30px;
}
.wrapper1>section>.wrapper-100vh .panel.mobileMenu>.language>ul {
  margin: 30px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: wrap;
  height: 150px;
  padding: 0px;
  list-style: none;
}
.wrapper1>section>.wrapper-100vh .panel.mobileMenu>.language>ul>li {
  padding: 0px;
  margin: 0px;
  width: 33%;
}
.wrapper1>section>.wrapper-100vh .panel.searchTool {
  height: 100%;
}
.wrapper1>section>.wrapper-100vh .panel.searchTool h3 {
  font-size: 2.5em;
  margin: 0px;
  padding: 0px 0px;
}
.wrapper1>section>.wrapper-100vh .panel.searchTool>form {
  display: flex;
  justify-content: flex-start;
  padding: 10px 0px;
}
.wrapper1>section>.wrapper-100vh .panel.searchTool>form input {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  box-sizing: border-box;
  border: none;
  margin: 0px;
  padding: 0px;
  height: 45px;
}
.wrapper1>section>.wrapper-100vh .panel.searchTool>form>.text {
  padding-left: 20px;
  font-size: 2em;
  background: white;
  height: 50px;
  width: 100%;
  border: 1px solid rgb(227, 227, 227);
}
.wrapper1>section>.wrapper-100vh .panel.searchTool>form>.text:focus {
  outline: none;
  border: 1px solid rgb(180, 180, 180);
}
.wrapper1>section>.wrapper-100vh .panel.searchTool>form>.text:hover {
  border: 1px solid rgb(180, 180, 180);
}
.wrapper1>section>.wrapper-100vh .panel.searchTool>form>.submit {
  height: 50px;
  width: 50px;
  background: black;
}
.wrapper1>section>.wrapper-100vh .panel.searchTool>form>.submit:hover {
  cursor: pointer;
}
.wrapper1>section>.wrapper-100vh .panel.profile {
  text-align: center;
}
.wrapper1>section>.wrapper-100vh .panel.profile>.header>.avatar {
  margin: auto;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  background: black;
}
.wrapper1>section>.wrapper-100vh .panel.profile>.header>h2 {
  font-size: 4em;
  padding: 0px;
  margin: 20px 0px;
}
.wrapper1>section>.wrapper-100vh .panel.profile>p {
  font-size: 2em;
  margin: 20px 0px;
  line-height: 1.5em;
}
.wrapper1>section>.wrapper-100vh .panel.profile>.buttons {
  display: flex;
  justify-content: center;
}
.wrapper1>section>.wrapper-100vh .panel.profile>.buttons>.login {
  background: #8ac249;
}
.wrapper1>section>.wrapper-100vh .panel.profile>.buttons>.login:hover {
  background: #9bcb64;
}
.wrapper1>section>.wrapper-100vh .panel.profile>.buttons>.createid {
  background: transparent;
  color: rgb(159, 159, 159);
  border: 1px solid grey;
}
.wrapper1>section>.wrapper-100vh .dimScreen {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100vw;
  height: 100vh;
  z-index: -10;
  background: black;
  opacity: 0.05;
  transition: opacity 0.3s;
}
.wrapper1>section>.wrapper-100vh .dimScreen:hover {
  cursor: pointer;
}
.wrapper1>section>.wrapper-100vh .show ~ .dimScreen {
  z-index: 3;
  opacity: 0.25;
}
.wrapper1>section>.wrapper-100vh .mobileMenu.show {
  transform: translate(0%,0px);
}
.wrapper1>section>.wrapper-100vh .searchTool.show {
  transform: translate(0%,0px);
}
.wrapper1>section>.wrapper-100vh .profile.show {
  transform: translate(0%,0px);
}
.wrapper1>section>.wrapper-100vh>.header {
  z-index: 4;
  box-sizing: border-box;
  margin: 0px auto;
  font-size: 1.8em;
  height: 80px;
  min-width: 100%;
  display: flex;
  justify-content: space-between;
}
.wrapper1 div.header ul {
  padding: 0px;
  margin: 0px;
}
.wrapper1 div.header li {
  padding: 0px 6px;
}
.wrapper1 div.menu li {
  display: inline;
}
.wrapper1 div.menu.left {
  z-index: 4;
  display: flex;
  align-items: center;
}
.wrapper1 div.menu.right {
  z-index: 4;
  display: flex;
  align-items: center;
}
.wrapper1 div.menu ul {
  display: unset;
}
.wrapper1 .menu.right>div.button.mobileMenu {
  display: none;
  width: 40px;
  height: 40px;
  margin: 10px;
  background: rgb(22, 83, 128);
  background-clip: content-box;
}
.wrapper1 .menu.right>div.button:hover {
  cursor: pointer;
}
.wrapper1 div.button.searchTool {
  width: 40px;
  height: 40px;
  margin: 10px;
  background: rgb(12, 59, 93);
  background-clip: content-box;
}
.wrapper1 div.button.profile {
  width: 40px;
  height: 40px;
  margin: 10px;
  background: rgb(12, 59, 93);
  background-clip: content-box;
}
.wrapper1 div.body {
  height: 110vh;
  display: flex;
  text-align: center;
  flex-wrap: wrap;
  align-content: center;
}
.wrapper1 div.body>div {
  width: 100%;
}
.wrapper1 div.headerSmall h2 {
  font-size: 4.0em;
  color: rgb(210, 224, 44);
  padding: 0px;
  margin: auto;
}
.wrapper1 div.headerBig h1 {
  font-size: 10.0em;
  color: rgb(242, 242, 242);
  margin: auto;
}
.wrapper1 div.summary h3 {
  width: 70%;
  padding: 20px 0px;
  line-height: 1.5em;
  font-size: 2.0em;
  color: rgb(242, 242, 242);
  margin: auto;
}
.wrapper1 div.links {
  display: flex;
  justify-content: center;
}
.wrapper1 div.learnMoreLink {
  background: rgb(65, 65, 65);
}
.wrapper1 div.getUnityLink {
}
/*=====================*/
.wrapper2 {
  background: rgb(244, 248, 252);
}
div.slideshowWrapper {
  position: relative;
  margin: 0px 25px;
}
.slidesFrame {
  /* NOTE: width controls number of slides
  on screen */
  width: 50%;
  /*width: 33.3333%;*/
  /*width: 25%;*/
  overflow: visible;
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  position: relative;
  left: 0px;
  transition: left 0.6s;
}
.obscuringFrame {
  /*display: none;*/
  position: absolute;
  /* NOTE: width equal margin of outermost
  container */
  width: 30px;
  height: 100%;
  background: rgb(244, 248, 252);
  z-index: 1;
}
.obscuringFrame {
  left: -5px;
  transform: translate(-100%, 0px);
}
.obscuringFrame+.obscuringFrame {
  left: unset;
  transform: translate(100%, 0px);
  right: -5px;
}
.slidesFrame div.slideWrap {
  position: relative;
  box-sizing: border-box;
  flex: 0 0 auto;
  width: 100%;
  padding: 0px 15px;
}
.slidesFrame div.slideWrap:hover {
  cursor: pointer;
}
.slidesFrame div.slide {
  width: 100%;
}
.slidesFrame div.image {
  width: 100%;
  /* NOTE: Control minimal size of image */
  min-height: 150px;
  background: rgb(114, 138, 203);
}
.slidesFrame div.expand {
  width: 100%;
  /* NOTE: Control relative height of slide image */
  padding-bottom: 60%;
}
.slidesFrame div.hr {
  margin: auto;
  margin-top: 30px;
  margin-bottom: 20px;
  height: 0px;
  width: 25%;
  border-top: 1px solid grey;
}
.slideshow.slidesFrame div.summary h3 {
  font-size: 2.5em;
  font-weight: normal;
  text-align: center;
}
.slideshow.controls {
  height: 0px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  position: absolute;
  overflow: visible;
  top: 0px;
  left: 0px;
  z-index: 2;
}
.slideshow.controls div.button {
  font-size: 3em;
  box-sizing: border-box;
  width: 35px;
  height: 35px;
  border: 1px solid black;
  border-radius: 50%;
  background: white;
  text-align: center;
  overflow: visible;
  color: black;
  font-weight: 300;
  font-family: 'entypo-plus';
  z-index: 1;
  position: relative;
}
.slideshow.left.button::before {
  content: '\e92a';
}
.slideshow.right.button::before {
  content: '\e92a';
}
.slideshow.controls div.button:hover {
  cursor: pointer;
}
/*---Slideshow dots to navigate*/
.slideshow.menu {
  margin: auto;
  display: flex;
  justify-content: center;
  position: relative;
}
.slideshow.menu span {
  flex: 0 0 auto;
  box-sizing: border-box;
  display: block;
  margin: 6px;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  border: 1px solid rgba(139, 139, 139, 0.55);
}
.slideshow.menu span:hover {
  border: 1px solid black;
  background: black;
  cursor: pointer;
}
.slideshow.menu span.active {
  border: 1px solid black;
  background: black;
}
.slideshow.menu span.active {
  border: 1px solid black;
  background: black;
}
.slideshow.menuBlock {
  height: 0px;
  width: 0px;
}
.slideshow.menuBlock div.shield {
  position: absolute;
  width: 100%;
  height: 100%;
  background: transparent;
  /*background: rgba(68, 102, 92, 0.53);*/
  left: 0px;
  z-index: -1;
}
/*=========================*/
.wrapper3 {
  text-align: center;
  background: rgb(253, 253, 253);
}
.wrapper3 .header h2 {
  font-size: 5em;
  padding: 0px 0px;
  margin: 0px;
}
.wrapper3 .text {
  width: 95%;
  margin: auto;
}
.wrapper3 .text h3 {
  font-size: 2em;
}
.wrapper3 .offer {
  margin-top: 45px;
  padding: 0px 2.5%;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}
.wrapper3 .offer>div {
  box-sizing: border-box;
  width: 20%;
  flex: 0 0 auto;
  position: relative;
}
.wrapper3 .offer>div+div::after {
  content: '';
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  box-shadow: -1px 0px 0px 0px #ddd;
}
.wrapper3 .offer>div::before {
  content: '';
  display: block;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  background: white;
  transition: transform 0.15s;
}
.wrapper3 .offer>div:hover::before {
  box-shadow: 0px 0px 15px 1px #ddd;
  z-index: 1;
  transform: scale(1.04,1.04);
}
.wrapper3 .offer .image {
  position: absolute;
  width: 45%;
  height: 0%;
  padding-bottom: 45%;
  margin-top: 10%;
  left: 27.5%;
  box-sizing: border-box;
  background: rgb(39, 167, 161);
  z-index: 1;
}
.wrapper3 .offer .header {
  box-sizing: border-box;
  width: 100%;
  overflow: visible;
  padding-top: 85%;
  bottom: 3%;
  position: relative;
  background: transparent;
  z-index: 1;
}
.wrapper3 .offer .header h4 {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 2em;
  position: absolute;
  left: 0px;
  bottom: 10px;
  width: 100%;
  padding: 0px;
  margin: 0px;
}
/*============================*/
/*second slideshow*/
.wrapper4 {
  background: rgb(244, 248, 252);
}
.wrapper4 div.slideshowWrapper {
  margin: 0px 110px;
}
.wrapper4 div.slideshow.image .expand {
  padding-bottom: 55%;
}
.wrapper4 .slideshow.left.button {
  left: -10%;
}
.wrapper4 .slideshow.right.button {
  right: -10%;
}
.wrapper4 .obscuringFrame {
  /* NOTE: width equal margin of outermost
  container */
  width: 110px;
}
.wrapper4 .header {
  text-align: center;
}
.wrapper4 .header h2 {
  font-size: 5em;
  margin: 0px;
}
.wrapper4 .tagline {
  text-align: center;
}
.wrapper4 .tagline h3 {
  font-size: 2.5em;
  margin: 0px;
  padding: 15px;
}
.wrapper4 .allGamesLink {
  width: 160px;
  margin: 25px auto;
  margin-top: 35px;
}
/*====================*/
.wrapper5 {
  background: rgb(253, 253, 253);
}
.wrapper5 .showcase {
  margin: auto;
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.wrapper5 .showcase>div {
  box-sizing: border-box;
  width: 50%;
  flex: 0 0 auto;
  padding: 0px 15px;
  display: flex;
  flex-direction: column;
  align-content: flex-start;
}
.wrapper5 .showcase>div .header {
  flex: 0 0 auto;
}
.wrapper5 .showcase>div .header h2 {
  font-size: 3em;
}
.wrapper5 .showcase>div>div+div {
  border-top: 1px solid #ebebeb;
}
.wrapper5 .showcase>.blog>div {
  box-sizing: border-box;
  max-width: 100%;
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
}
.wrapper5 .showcase>.blog>div div {
  z-index: 1;
}
.wrapper5 .showcase>.blog .post {
  position: relative;
}
.wrapper5 .showcase>.blog .post::before {
  content: '';
  display: block;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  transition: transform 0.15s;
}
.wrapper5 .showcase>.blog .post:hover::before {
  box-shadow: 0px 0px 15px 1px #ddd;
  background: white;
  z-index: 1;
  transform: scale(1.04,1.04);
}
.wrapper5 .showcase .body {
  flex: 1 0 auto;
}
.wrapper5 .showcase .footer {
  align-self: flex-end;
}
.wrapper5 .blog .post .image {
  background: lightgreen;
  flex: 0 0 auto;
  width: 80px;
  height: 80px;
  margin: 15px;
  margin-left: 0px;
}
.wrapper5 .blog .post .description {
  margin-left: 15px;
  flex: 1 1 auto;
  width: 100px;
}
.wrapper5 .blog .post .description .timestamp p {
  font-size: 1.5em;
  line-height: 1.5em;
  padding: 0px;
  margin: 0px;
}
.wrapper5 .blog .post .description h3 {
  font-size: 2.5em;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding: 0px;
  margin: 0px;
}
.wrapper5 .showcase>div .linkWrapper {
  box-sizing: border-box;
  width: 100%;
  padding: 5px;
  padding-left: 0px;
  flex: 0 0 auto;
  align-self: flex-start;
  display: flex;
}
.wrapper5 .showcase>div .linkWrapper * {
  margin-left: 0px;
}
.wrapper5 .showcase .video {
  min-height: 250px;
  flex: 1 1 auto;
  display: flex;
  align-items: center;
  background: #333;
  background-clip: content-box;
  text-align: center;
  padding-top: 20px;
  margin-bottom: 20px;
}
.wrapper5 .showcase .video * {
  margin: auto;
  color: white;
}
.wrapper5 .showcase .video .timestamp p {
  font-size: 2em;
}
.wrapper5 .showcase .video .title h3 {
  font-size: 4em;
}
.wrapper5 .showcase .video .location p {
  font-size: 2.5em;
}
/*============================*/
.wrapper6 {
  background: #aaa;
}
.wrapper6 .weAreHiring {
  color: white;
  text-align: center;
  padding: 80px 0px;
}
.wrapper6 .header {
  margin: auto;
}
.wrapper6 .header h2 {
  font-size: 5em;
  padding: 0px;
  margin: 0px;
}
.wrapper6 .tagline {
  font-size: 2em;
  margin: auto;
  width: 80%;
}
.wrapper6 .linkWrapper {
  display: flex;
  justify-content: center;
}
/*======================*/
.wrapper7 {
  background: rgb(253, 253, 253);
}
.wrapper7>section {
  font-size: 1.5em;
  line-height: 1.5em;
}
.wrapper7>section>.header {
  padding: 30px 0px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.wrapper7>section>.header .topLink {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: rgb(12, 59, 93);
  overflow: hidden;
}
.wrapper7>section>.header .topLink a {
  display: block;
  width: 100%;
  height: 100%;
}
.wrapper7>section>.body.sitemap.newsletter.language {
  box-sizing: border-box;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
/*--------Sitemap-----------*/
.wrapper7>section>.body>.sitemap {
  height: 320px;
  width: 70%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.wrapper7>section>.body>.sitemap>div {
  padding: 10px 0px;
}
.wrapper7>section>.body>.sitemap .header {
  width: 100%;
}
.wrapper7>section>.body>.sitemap .header h3 {
  padding: 10px 0px;
  margin: 0px;
}
.wrapper7>section>.body>.sitemap>div {
  width: 25%;
}
.wrapper7>section>.body>.sitemap ul {
  padding: 0px;
  margin: 0px;
}
.wrapper7>section>.body>.sitemap li {
  list-style: none;
}
/*---Wrapper(Newsletter, Language)----*/
.wrapper7>section>.body>.wrapper.newsletter.language {
  width: 30%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.wrapper7>section>.body>.wrapper.newsletter.language>div>.header>h3 {
  margin: 0px;
  padding: 10px 0px;
}
.wrapper7>section>.body>.wrapper.newsletter.language>div {
  flex: 0 0 auto;
}
.wrapper7>section>.body>.wrapper.newsletter.language li{
  box-sizing: border-box;
}
/*--------Newsletter--------*/
.wrapper7>section>.body .wrapper>.newsletter {
  box-sizing: border-box;
  padding-right: 20px;
}
.wrapper7>section>.body>.newsletter .header {
  width: 100%;
}
.wrapper7>section>.body>.newsletter .email {
  display: flex;
  justify-content: flex-start;
  width: 100%;
}
.wrapper7>section>.body>.newsletter .email>input {
  font-size: 1em;
  box-sizing: border-box;
  width: 65%;
  overflow: hidden;
  flex: 0 0 auto;
  height: 50px;
  padding: 15px;
  padding-right: 0px;
  margin: 0px;
}
.wrapper7>section>.body>.newsletter .email>input.submit {
  width: 35%;
  color: white;
  text-align: center;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background: rgb(61, 161, 92);
  border: 1px solid rgb(61, 161, 92);
}
.wrapper7>section>.body>.newsletter .privacyPolicy {
  margin: 20px 0px;
  display: flex;
  justify-content: flex-start;
  flex-wrap: nowrap;
}
.wrapper7>section>.body>.newsletter .privacyPolicy>input {
  flex: 0 0 auto;
  width: 24px;
  height: 24px;
  margin: 0px;
  margin-right: 10px;
  background: white;
  opacity: 1;
}
.wrapper7>section>.body>.newsletter .privacyPolicy>input:hover {
  cursor: pointer;
}
.wrapper7>section>.body>.newsletter .privacyPolicy>.statement {
  margin: 0px;
  padding: 0px;
}
.wrapper7>section>.body>.newsletter .privacyPolicy>.statement p {
  padding: 0px;
  margin: 0px;
}
/*--------Language--------*/
.wrapper7>section>.body>.wrapper>.language {
  clear: both;
  max-height: 150px;
  /*overflow: hidden;*/
}
.wrapper7>section>.body>.wrapper>.language>ul.language {
  max-height: 80px;
  margin: auto;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  box-sizing: border-box;
  padding: 0px;
}
.wrapper7>section>.body>.wrapper>.language li {
  list-style: none;
  width: 33%;
  padding: 0px;
}
/*--------Partners--------*/
.wrapper7>section>.body.partners {
  width: 100%;
}
.wrapper7>section>.body.partners .header {
  width: 100%;
}
.wrapper7>section>.body.partners ul {
  display: flex;
  flex-wrap: wrap;
  padding: 0px;
}
.wrapper7>section>.body.partners li {
  list-style: none;
  margin: 5px;
  /* NOTE: placeholder below */
  width: 100px;
  height: 30px;
  background: #ccc;
}
/*--------Footer--------*/
.wrapper7>section>.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0px -1px 0px 0px #ccc;
  padding-top: 20px;
  padding-bottom: 0px;
  margin-top: 30px;
}
.wrapper7>section>.footer .legalInfo{
  display: flex;
}
.wrapper7>section>.footer .legalInfo .copyrights {
  padding-right: 10px;
}
.wrapper7>section>.footer .legalInfo ul {
  padding: 0px;
}
.wrapper7>section>.footer .legalInfo li {
  list-style: none;
  display: inline-block;
  padding-right: 10px;
}
.wrapper7>section>.footer .socialMedia ul {
  padding: 0px;
  margin: 0px;
}
.wrapper7>section>.footer .socialMedia li {
  width: 40px;
  height: 40px;
  list-style: none;
  margin: 0px 5px;
  float: right;
  background: #ccc;
  overflow: hidden;
}
